body { 
    display: flex;
    flex-direction: column;
}
main { 
    display: flex;
    flex-direction: row;
    flex: auto;
}
article { 
    flex: 2;
    overflow-y: auto;
    color: black;
    background-color: burlywood;
    margin: auto;
    padding-left: 10px;
}
aside { 
    flex: 1;
    overflow-y: auto;
}
